%h1 ToDo List
= render partial: "menu"

%h2 List of tasks
%table
  %tr
    %th{style: "width: 300px"} Name
    %th{style: "width: 300px"} Actions
  - @tasks.each do |task|
    %tr
      %td
        = task.name
      %td
        = link_to("Edit", edit_task_path(task))
        | 
        = link_to("Delete", task_path(task), method: :delete, data: { confirm: "Are you sure?" })